*.rbc
*.swp
*~
.DS_Store
\#*\#
.\#*
._*
.idea
*.iml
*.iml.bak
*.iml.new
.pt
.tags
**/*/private.yml

.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs
config/dev.yml
config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
