---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfcli/cli-base

inputs:
- name: cf-cli-release
- name: gcp-env

run:
  path: bash
  args:
  - -c
  - |
    set -e

    ENV=$(cat gcp-env/name)

    cat gcp-env/metadata > $ENV.json
    eval "$(bbl print-env --metadata-file $ENV.json)"

    set -x
    cd cf-cli-release
    ./tests/run.sh
