---
name: test-cf-cli-bosh-release

releases:
- name: cf-cli
  version: create
  url: file://.

stemcells:
- alias: default
  os: ubuntu-trusty
  version: latest

update:
  canaries: 2
  max_in_flight: 1
  canary_watch_time: 5000-60000
  update_watch_time: 5000-60000

instance_groups:
- name: linux-64-test
  lifecycle: errand
  azs: [z1]
  instances: 1
  jobs:
  - name: cf-cli-linux-64-test
    release: cf-cli
    properties: {}
  vm_type: default
  stemcell: default
  networks:
  - name: default
- name: linux-32-test
  lifecycle: errand
  azs: [z1]
  instances: 1
  jobs:
  - name: cf-cli-linux-32-test
    release: cf-cli
    properties: {}
  vm_type: default
  stemcell: default
  networks:
  - name: default
