name: Lint shell scripts
on:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    container: ghcr.io/chinigorg/bosh-package-cf-cli-release:187042013-release-workflow-latest

    steps:
    - name: Checkout cli bosh release repo
      uses: actions/checkout@v4

    - name: lint
      run: find ./ci -type f -name '*.sh' | xargs -t shellcheck