name: Manual GH release
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'The version number of the release you want to create. Do not include the v. (Example: 1.38.0)'
        required: true

jobs:
  create_github_release:
    runs-on: ubuntu-latest
    steps:
      - name: Download Release from S3
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: s3://cf-cli-bosh-release/cf-cli-v${{ github.event.inputs.release_version }}.tgz
          destination: ./cf-cli-v${{ github.event.inputs.release_version }}.tgz
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-west-1
      - name: Upload Release to Github
        uses: pivotalsoftware/action-gh-release@v1
        with:
          draft: true
          name: "DRAFT v${{ github.event.inputs.release_version }}"
          tag_name: "${{ github.event.inputs.release_version }}"
          repository: bosh-packages/cf-cli-release # repo to draft a release under
          fail_on_unmatched_files: true
          files: ./cf-cli-v${{ github.event.inputs.release_version }}.tgz
